<div id="articles-header" class="row justify-content-md-center d-flex align-items-center mb-3">
  <div class="col-md-4">
    <h1 class="mt-4">Article Listing</h1>
  </div>
  <div class="col-md-4 mt-4 text-end">
    <a href="<%= new_article_path %>" class="btn btn-success">
      <i class="bi bi-plus-circle-fill"></i>&nbsp;&nbsp;
      New Article
    </a>
  </div>
  <div class="col-md-8 mb-2">
    <hr>
  </div>
</div>
<%= render 'articles'%>
