<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white mt-5">
  <div class="container text-center">
    <small>Copyright &copy; 
      <a href="https://github.com/KevinJSS" class="text-decoration-none text-white" 
      target="_blank">KevinJSS</a>
    </small>
  </div>
</footer>
