<div class="row justify-content-md-center d-flex align-items-center mb-3">
  <div class="col-md-4">
    <h1 class="mt-4">About Us</h1>
  </div>
  <div class="col-md-4 mt-4 text-end">
    <a href="<%= root_path %>" class="btn btn-outline-primary">Back to Homepage</a>
  </div>
  <div class="col-md-8">
    <hr>
  </div>
  <div id="about-us" class="col-md-8 mt-2 text-center shadow">
    <p>
      <span class="text-success"> <strong>Lorem ipsum</strong></span> dolor, sit amet consectetur adipisicing elit. 
      Repudiandae ea adipisci optio laboriosam praesentium veritatis nulla iure tenetur eligendi quia nihil eveniet ullam eius, dignissimos voluptatem harum molestias perferendis sapiente.
      Voluptates non laboriosam explicabo, ipsam ad asperiores maiores blanditiis temporibus numquam, ipsum, natus ratione.
    </p>
  </div>
</div>
