<%# <h1>Welcome to the homepage</h1>

<%= link_to "Go to Articles page", articles_path  | 
<%= link_to "Go to About Us page", about_path %>

<div class="my-4 mx-5 p-5 bg-dark text-white text-center rounded">
  <h1 class="my-3">Welcome to AlphaBlog</h1>
  <p class="my-3">Created by KevinJSS</p>
  <a class="btn btn-light my-3" href="#">Learn More</a>
</div>