html,
body {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
}

#logo {
    text-transform: uppercase;
    float: left;
    font-size: 1.7rem;
    color: white;
    letter-spacing: -1px;
    font-weight: bold;
}

@media (max-width: 768px) {
    #articles-header {
        text-align: center;
    }
}

#about-us {
    background:  #f1f1f1d8;
    padding: 3rem 1rem 2rem 1rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.banner {
    background-image: url('banner-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    text-align: center;
    color: white;
    padding: 14rem 0;

    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.article-form {
    background:  #9b9b9b46;
    padding: 3rem 2rem 1.5rem 2rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.article-item {
    margin-bottom: 2rem;
}